body{
    background-image: url(https://static.pexels.com/photos/62449/pexels-photo-62449-large.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:100% 100%;
    color: lime;
    
}

.searchArea{
    text-align: center;
    height: 20%;
    text-shadow: 5px 5px 5px deeppink;
}

.results{
    display: flex;
    justify-content: flex-start;
    align-items:baseline;    
}

.songCard{
    background:white;
    box-shadow: 1px 1px 3px black;
    height:auto;
    width: auto;
    padding-right:10px;
    padding-left:10px;
    border-radius:10px;
    margin: 2% 2%;
    color:black;
    opacity: .75;
    font-family: 'Lato', sans-serif;
}

.playlistCard{
    background:white;
    box-shadow: 1px 1px 3px black;
    height:auto;
    width: auto;
    padding-right:10px;
    padding-left:10px;
    border-radius:10px;
    margin: 2% 2%;
    color:black;
    opacity: .75;
    font-family: 'Lato', sans-serif;
}


.songCard:hover{
    opacity: 1;
}

.playlistCard:hover{
    opacity: 1;
}

h4{
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;    
}

h2{
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;    
}

h1{
    font-weight: bold;
    font-family: 'Rock Salt', cursive;
    font-size: 80;
}

.flexStuff{
    padding:5px;
}

button{
    margin-top:5px
}